@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Konfigurasi untuk Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* Kita gunakan background default putih agar tidak konflik dengan desain login */
  background: white;
  /* Memastikan font terlihat lebih halus di browser */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar agar terlihat lebih modern (Opsional) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #2596be; /* Warna gdn-blue */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f172a; /* Warna gdn-dark-blue */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}